div.grid {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #ffc2cc;
  color: #fff;
  border: 6px solid #ffc2cc;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
